<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>professor ok</title>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Professor criado com sucesso!</h5>
          <p class="card-text">os lores ... não correspondem</p>
          <a href="/professores" class="btn btn-primary">Ir para o menu principal</a>
        </div>
      </div>
</body>
</html>